/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Everything below this line by Dave Imbriaco, April 2014 */

html, body {
	height: 100%;
}

body {
	background: rgb(255,247,247); /* Old browsers */
background: -moz-linear-gradient(left, rgba(255,247,247,1) 0%, rgba(130,157,152,1) 73%, rgba(142,166,162,1) 97%, rgba(78,92,90,1) 99%, rgba(84,84,84,1) 99%, rgba(174,191,188,1) 100%, rgba(174,191,188,1) 100%, rgba(153,175,171,1) 100%, rgba(153,175,171,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,247,247,1)), color-stop(73%,rgba(130,157,152,1)), color-stop(97%,rgba(142,166,162,1)), color-stop(99%,rgba(78,92,90,1)), color-stop(99%,rgba(84,84,84,1)), color-stop(100%,rgba(174,191,188,1)), color-stop(100%,rgba(174,191,188,1)), color-stop(100%,rgba(153,175,171,1)), color-stop(100%,rgba(153,175,171,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(255,247,247,1) 0%,rgba(130,157,152,1) 73%,rgba(142,166,162,1) 97%,rgba(78,92,90,1) 99%,rgba(84,84,84,1) 99%,rgba(174,191,188,1) 100%,rgba(174,191,188,1) 100%,rgba(153,175,171,1) 100%,rgba(153,175,171,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(255,247,247,1) 0%,rgba(130,157,152,1) 73%,rgba(142,166,162,1) 97%,rgba(78,92,90,1) 99%,rgba(84,84,84,1) 99%,rgba(174,191,188,1) 100%,rgba(174,191,188,1) 100%,rgba(153,175,171,1) 100%,rgba(153,175,171,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(255,247,247,1) 0%,rgba(130,157,152,1) 73%,rgba(142,166,162,1) 97%,rgba(78,92,90,1) 99%,rgba(84,84,84,1) 99%,rgba(174,191,188,1) 100%,rgba(174,191,188,1) 100%,rgba(153,175,171,1) 100%,rgba(153,175,171,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(255,247,247,1) 0%,rgba(130,157,152,1) 73%,rgba(142,166,162,1) 97%,rgba(78,92,90,1) 99%,rgba(84,84,84,1) 99%,rgba(174,191,188,1) 100%,rgba(174,191,188,1) 100%,rgba(153,175,171,1) 100%,rgba(153,175,171,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff7f7', endColorstr='#99afab',GradientType=1 ); /* IE6-9 */
}

.pagecontainer {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -20px;
}

header {
width: 100%;
height: 200px;
}

.emailList {
	float: left;
	width: 175px;
	height: 50px;
	margin: 30px;
	border: 1px solid black;
}

.logobox {
	margin-right: auto;
	margin-left: auto;
	width: 900px;
	height: 200px;
}

.loginbox {
	float: right;
	margin-top: -175px;
	margin-right: 20px;
}

.mainarea {
	width: 100%;
	height: 675px;
}

.menubar {
	width: 500px;
	height: 30px;
	margin:5px 0 5px 0;
	display: inline;
	text-align: center;
}

.menubar li {
	display: inline;
	font-size: 23px;
	padding: 1px 3px 1px 3px;
	font-family: arial;
	font-weight: bolder;
}

.mainleft {
	display: inline-block;
	vertical-align: top;
	margin: -80px 100px 0 100px;
	float: left;
	position:fixed;
}

.mainmid {
	height: auto;
	width: 550px;
	display: inline-block;
	vertical-align: top;
	margin-left: 475px;
	margin-right: 70px;
}

.mainright {
	height: 460px;
	width: 175px;
	display: inline-block;
	vertical-align: top;
	margin: 5px 150px 5px 10px; 
	float: right;
}

ul {
	list-style-type: none;
	margin-bottom: 15px;
	padding-left: 5px; 
}

.sidebox {
	width: 225px;
}

.sidebox li {
	margin: 3px 0 3px 0;
}

#enroll {
	display: block;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
	border: 1px solid black;
	margin: 2px 0 2px 0;
	padding: 20px 10px 20px 10px;
	border-radius: 5px;
}

#tryfree {
	display: block;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
	border: 1px solid black;
	padding: 20px 10px 20px 10px;
	border-radius: 5px;
}

#sucstor {
	display: block;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
	border: 1px solid black;
	padding: 20px 10px 20px 10px;
	border-radius: 5px;
}

#contact {
	display: block;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
	border: 1px solid black;
	padding: 20px 10px 20px 10px;
	border-radius: 5px;
}

#imageplaceholder {
	height: 300px;
	width: 200px;
	margin: 4px;
	border: 2px solid;
	border-radius:5;
}

#imgplaceholdertext {
	margin: 82px;
}

.mainmidbottom {
	display:block;
	width: 620px;
	height: 160px;
	margin-top: 20px;
	margin-left: -28px;
	clear: both;
}

.anothermid {
	display:block;
	width: 620px;
	height: 160px;
	margin-top: 20px;
	margin-left: -28px;
	clear: both;
}

.newfeat {
	display: inline-block;
	height: 150px;
	width: 290px;
	border: 1px solid black;
	text-align:justify;
	margin: 5px;
	padding: 3px;
}

.titlelink {
	margin: 5px auto 5px auto;
	font-weight: bolder;
	font-size: larger;
}

.newfeatpara {
	font-size: 18px;
}

footer {
	width:100%;
	height: 20px;
	text-align:center;
	display: inline-block;
}

.footer, .push {
	height: 20px; /* .push must be the same height as footer */
}

.footer li {
	display:inline-block;
}

.footerlinks {

}